{
    "container_names": ["nimiq"],
    "network": "testnet",
    "protocol": "nimiq-v1",
    "protocol_version": "1.0.0",
    "cron_time": "0 */12 * * *",
    "file_path": "/root/data",
    "bucket_name": "nimiq-v1",
    "ignore_files": ["test.txt"],
    "access_key": "xxxxxxxxxxxxxx",
    "secret_key": "xxxxxxxxxxxxxxx",
    "endpoint": "https://s3.REGION.wasabisys.com",
    "region": "eu-central-1",
    "snapshot_to_keep": 4
}
